mixin project-intro(number, name1, name2, linkTo, callTo, callTo2)
	.project-wrapper
		p.number-project.up-translate #{number}
		.name-project 
			h2.up-translate #{name1}
			h2.up-translate #{name2}
		a.arrow-right.right-translate(href=linkTo)
			.arrow-wrapper
				.rectangle-arrow
				+icon-arrow
			span.callTo-1 #{callTo}
			span.callTo-2 #{callTo2}